$lavender: #eae8ff;
$platinum: #d8d5d8;
$frenchgrey: #adacb5;
$gunmetal: #2d3142;
$uranianblue: #b0d7ff;
:host{
  overflow: hidden;
}
.containerSlider{
  margin-top: 65px;

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  overflow-x: hidden;
}

.containerOmbra{
  background-color: rgba(0, 0, 0, 0.4);

  height: 100%;
}

form{
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 5px 2px black;
  border-radius: 5px;
  label{
    color: $frenchgrey;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  h3{
    color: $frenchgrey;
    text-align: center;
  }
  input{
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: $lavender;
    border: 1px solid $lavender;
    border-radius: 5px;
  }
  #accedi{
    width: 30%;
    border-radius: 5px;
    border: 1px solid $uranianblue;
  }
  #accedi:hover{
    background-color: $uranianblue;
    color: $gunmetal;
  }
  p, a{
    color: $lavender;
  }
}
