<div class="containerSlider" [ngStyle]="{'background-image': 'url(' + backgroundImages[currentImageIndex] + ')'}">
  <div class="containerOmbra  justify-content-center align-items-center row">


    <form class="d-flex flex-column col-12 col-sm-4" #form="ngForm" (ngSubmit)="accedi(form)">
      <h3 class="p-1">Effettua LogIn</h3>
      <label for="email">Email:</label>
      <input class="mb-3 ms-3" type="email" id="email" name="email" placeholder="es: mariorossi@myitaly.it" required
        ngModel>
      <label for="password">Password:</label>
      <input class="mb-3 ms-3" type="password" id="password" name="password" placeholder="Inserisci la tua password"
        required ngModel>
      <div>
        <button class="m-3" type="submit" id="accedi" name="accedi">ACCEDI</button>
        <p class="m-3">Non sei registrato? <a [routerLink]="['/register']">REGISTRATI!</a></p>
      </div>
    </form>



  </div>
</div>