<footer class="p-4">
  <div class="row justify-content-evenly">
    <div class="col-12 col-sm-4 pt-2">
      <h4>Link utili</h4>
      <div class="boxFooter d-flex flex-column">
        <a href="https://www.ministeroturismo.gov.it/">Ministero del Turismo</a>
        <a href="https://www.trenitalia.com/">Trenitalia</a>
        <a href="https://www.inmystream.app/player2/enit.html">Italy Web Radio</a>
        <a href="https://www.google.it/maps/preview">Google Maps</a>
      </div>
    </div>

    <div class="col-12 col-sm-4 pt-2">
      <h4>Social</h4>
      <div class="boxFooter">
        <a href=""><img src="/assets/img/facebook.jpg" alt=""></a>
        <a href=""><img src="/assets/img/instagram.jpg" alt=""></a>
        <a href=""><img src="/assets/img/whatsapp.jpg" alt=""></a>
      </div>
    </div>

    <div class="col-12 col-sm-4 pt-2">
      <h4>Contatti</h4>
      <div class="boxFooter d-flex flex-column">
        <a href="mailto:info@esempio.com">Contattaci via email</a>
        <a href="tel:+123456789">Contattaci al +123456789</a>

      </div>
    </div>
  </div>
</footer>