$lavender: #eae8ff;
$platinum: #d8d5d8;
$frenchgrey: #adacb5;
$gunmetal: #2d3142;
$uranianblue: #b0d7ff;



h1 {
  text-align: center;
}

.cover-card {
  .card {
    border-radius: 10px;
    box-shadow: -1px 1px 20px 5px gray;
    transition: transform 0.5s;

    img {
      height: 30%;
    }
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* Button up */

#up {

  a {
    border: 1px solid $uranianblue;
    background-color: $lavender;
    text-decoration: none;
    border-radius: 5px;

    span {
      font-size: 2.5em;
    }
  }
}