<div class="container mb-5">
  <h1 id="titolo">SCEGLI LE TUE METE PREFERITE! 🧳</h1>
  <div class="row mt-5">

    <div class="text-center" *ngIf="!locations">
      <span class="spinner-border"></span>
    </div>

    <div class="cover-card col-12 col-sm-6 col-xl-3 mb-5" *ngFor="let location of locations">
      <div class="card  m-1 mb-4 h-100 d-flex flex-column justify-content-between">

        <img src="{{location.immagine}}" class="card-img-top" alt="immagine">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{location.nome}}</h5>
          <p class="card-text">{{location.descrizione}}</p>

        </div>

        <div class="m-1">
          <button type="button"
            (click)="isPreferito(location.id) ? eliminaPreferito(location.id) : aggiungiPreferito(location.id)"
            [ngClass]="isPreferito(location.id) ?'text-danger': 'text-dark' "> ❤
          </button>
          <!-- l ngClass da problemi e fa sparire le immagini dalle card tranne la prima o.O -->
        </div>
      </div>
    </div>

    <!--   (click)="isPreferito(location.id) ? eliminaPreferito(location.id) : aggiungiPreferito(location.id)" [ngClass]="{'bg-danger': isPreferito(location.id), 'bg-white': !isPreferito(location.id)}" -->

    <!-- BUTTON UP -->
    <div id="up" class="d-flex justify-content-end me-3 mb-2">
      <a href="locations" class="d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined">
          expand_less
        </span>
      </a>
    </div>

  </div>
</div>