<div class="container">
  <div class="row">

    <div class="cover-card col-12 col-sm-4 col-md-3" *ngFor="let location of locations">
      <div class="card" class=" border border-black m-1 mb-4 p-2">
        <img src="{{location.immagine}}" class="card-img-top" alt="immagine">
        <div class="card-body">
          <h5 class="card-title">{{location.nome}}</h5>
          <p class="card-text">{{location.descrizione}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>




  </div>
</div>